* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6F7;
}

.purple-bg {
    background-color: #5D5FEF;
    color: white;
}

.active {
    color: #5D5FEF !important;
}

.nav-link {
    color: #858585;
}

.author-info img {
    width: 40px;
    height: 40px;
}